
@{
    ViewData["Title"] = "My Work";
}

<h1> This is the work we provide</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/MonaLisa.jpg.webp" class="card-img-top" alt="Mona Lisa">
                <div class="card-body">
                    <h5 class="card-title">Mona Lisa</h5>
                    <p class="card-text">This is the original authentic redone Mona Lisa!!</p>
                    <a href="#" class="btn btn-primary"> R5000 </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/WireDear.jpeg" class="card-img-top" alt="Wire Deer">
                <div class="card-body">
                    <h5 class="card-title">Wire Deer</h5>
                    <p class="card-text">A beautifully constructed wire deer perfect for your lounge!</p>
                    <a href="#" class="btn btn-primary">R400</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/RiverForest.jpeg" class="card-img-top" alt="Forest River">
                <div class="card-body">
                    <h5 class="card-title">Forest River</h5>
                    <p class="card-text">A lovely scenic painting of a River cutting a forest in half.</p>
                    <a href="#" class="btn btn-primary">R1000</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f3e9e0; /* Light Cappuccino Color */
    }
</style>

